/* src/index.css */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  color: #333;
}

h1 {
  text-align: center;
  font-size: 2.5em;
  margin-top: 20px;
  color: #444;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  color: #666;
}

button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #ff6f61;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #ff856f;
  }
}
